.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: aliceblue; */
  height: 135vh;
  background: #00467F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A5CC82, #00467F); 
background: linear-gradient(to right, #A5CC82, #00467F); 

  background-repeat: no-repeat;
  background-attachment: fixed;
  
  font-family: "Roboto", sans-serif;
}