a {
    color: white;
    border: none;
    width: 100%;
    font-size: 20px;
    border-radius: 30px;
    box-shadow: 5px 5px rgb(110 108 108);
    height: 20px
}

a:link {
    color: white;
    padding: 5px 12px;
    text-align: center;
    display: initial;
    text-decoration: none;
    background-color: rgb(184, 15, 153);
    /* border-radius: 50px; */
}
.delbtn{
   width: 10%;
   font-size: 15px;
   margin: 10px 0px;
}