a {
    color: white;
    border: none;
    width: 100%;
    font-size: 20px;
    border-radius: 30px;
}

a:link {
    color: white;
    padding: 5px 12px;
    text-align: center;
    display: initial;
    text-decoration: none;
    background-color: rgb(184, 15, 153);
    /* border-radius: 50px; */
}